.test {
    border: 5px red solid;
    padding: 10;
    margin: 10;
    font-family: "Times New Roman";
    font-style: italic;
}


/*
Styles for nodes and connectors.
*/

.node-rect {
    stroke: rgba(0,0,0,004);
    stroke-width: 0.5;
}

.selected-node-rect {
    stroke: rgba(255,5,0,0.2);
    stroke-width: 3;
}

.mouseover-node-rect {
    stroke: rgba(0,0,0,0005);
    stroke-width: 0.2;
}

.node-name {
    font-family: "Courier New";
    font-size: 12px;
    font-weight: normal;
    line-spacing: 30;
    fill: #000000;
    fill-opacity: 0.5;
}
.node-name:hover {
    fill-opacity:0.8;
}

/*connector*/

.connector-circle{
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,0.1);
    stroke-width: 1;
}

.connector-inner-circle{
    fill: rgba(0,0,0,0.1);
    stroke: rgba(0,0,0,0.1);
    stroke-width: 1;
}

.mouseover-connector-circle{
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,0.3);
    stroke-width: 1;
}

.connetor-name {
    font-family: Arial;
    font-size: 11px;
    fill: rgba(0,0,0,0.4);
    text-shadow: 1 1 0px white;
}
.connetor-name:hover {
    fill: rgba(0,0,0,0.7);
}

/*
Style for connections.
*/

.connection {
}

.connection-line {
    stroke: rgba(0,0,0,0.5);
    stroke-width: 2;
    fill: transparent;
    z-index:3;
}

.mouseover-connection-line {
    stroke: gray;
    stroke-width: 5;
    fill: transparent;
}

.selected-connection-line {
    stroke: red;
    stroke-width: 4;
    fill: transparent;
}

.connection-endpoint {
    fill: rgba(0,0,0,0);
}

.selected-connection-endpoint {
    fill: rgba(255,0,0,0.05);
}

.mouseover-connection-endpoint {
    fill: transparent;
}

/*
Style for the connection being dragged out.
*/

.dragging-connection {
    pointer-events: none;
}

.dragging-connection-line {
    stroke: gray;
    stroke-width: 3;
    fill: transparent;
}

.dragging-connection-endpoint {
    fill: gray;
}

/*
The element (in this case the SVG element) that contains the draggable elements.
*/

.draggable-container {
    border: dashed 1px rgba(0,0,0,0.2);
}

/*
Drag selection rectangle.
*/

.drag-selection-rect {
    stroke: rgba(255,0,0,0.4);
    stroke-width: 2;
    fill: rgba(255,0,0,0.03);
}

/*
node list
*/

.nodelist {
    position: fixed;
    top:40px;
    list-style: none;
    font-size:12px;
}

.nodelistbtn:focus {
    outline: rgba(0,0,0,0) none;
}

.nodelistbtn:active {
    outline: none;
}

.nodelistbtn:active, .nodelistbtn:active {
    outline: none;
    background-color: black;
    color: white;
}