.test {
    border: 5px red solid;
    padding: 10;
    margin: 10;
    font-family: "Times New Roman";
    font-style: italic;
}


/*
Styles for nodes and connectors.
*/

.node-rect {
    stroke: rgba(0,0,0,004);
    stroke-width: 0.5;
}

.selected-node-rect {
    stroke: rgba(255,5,0,0.2);
    stroke-width: 3;
}

.mouseover-node-rect {
    stroke: rgba(0,0,0,0005);
    stroke-width: 0.2;
}

.node-name {
    font-family: "Courier New";
    font-size: 12px;
    font-weight: normal;
    line-spacing: 30;
    fill: #000000;
    fill-opacity: 0.5;
}
.node-name:hover {
    fill-opacity:0.8;
}

/*connector*/

.connector-circle{
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,0.1);
    stroke-width: 1;
}

.connector-inner-circle{
    fill: rgba(0,0,0,0.1);
    stroke: rgba(0,0,0,0.1);
    stroke-width: 1;
}

.linkdown-connector-inner-circle {
    fill: rgba(255,0,0,0.2);
    stroke: rgba(255,0,0,0.1);
    stroke-width: 1;
}

.mouseover-connector-circle{
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,0.3);
    stroke-width: 1;
}

.connetor-name {
    font-family: Arial;
    font-size: 11px;
    fill: rgba(0,0,0,0.4);
    text-shadow: 1 1 0px white;
}
.connetor-name:hover {
    fill: rgba(0,0,0,0.7);
}

/*
Style for connections.
*/

.connection {
}

.connection-line {
    stroke: rgba(0,0,0,0.5);
    stroke-width: 2;
    fill: transparent;
    z-index:3;
}

.mouseover-connection-line {
    stroke: gray;
    stroke-width: 5;
    fill: transparent;
}

.selected-connection-line {
    stroke: red;
    stroke-width: 4;
    fill: transparent;
}

.connection-endpoint {
    fill: rgba(0,0,0,0);
}

.selected-connection-endpoint {
    fill: rgba(255,0,0,0.05);
}

.mouseover-connection-endpoint {
    fill: transparent;
}

/*
Style for the connection being dragged out.
*/

.dragging-connection {
    pointer-events: none;
}

.dragging-connection-line {
    stroke: gray;
    stroke-width: 3;
    fill: transparent;
}

.dragging-connection-endpoint {
    fill: gray;
}

/*
The element (in this case the SVG element) that contains the draggable elements.
*/

.draggable-container {
    border: dashed 1px rgba(0,0,0,0.2);
}

/*
Drag selection rectangle.
*/

.drag-selection-rect {
    stroke: rgba(255,0,0,0.4);
    stroke-width: 2;
    fill: rgba(255,0,0,0.03);
}

/*
node list
*/

.nodelist {
    position: fixed;
    top:40px;
    list-style: none;
    font-size:12px;
}

.nodelistbtn:focus {
    outline: rgba(0,0,0,0) none;
}

.testbtns {
    position: fixed;
    top:40px;
    left:120px;
    list-style: none;
    font-size:12px;
}

/*status*/

.node-status-sign {
}

.node-warning-sign {
    opacity: 1;
    fill: rgba(255,120,0,1);
    -webkit-transform: translate(-18px, -20px) scale(1,1);
}

.node-alive-sign {
    opacity: 0.25;
    fill: rgba(0,225,40,1);
    -webkit-transform: translate(-18px, -3px) scale(1,1);
}
.node-dead-sign {
    opacity: 0.8;
    fill: #FF0000;
    -webkit-transform: translate(-18px, -3px) scale(1,1);
    -webkit-animation: node-dead-blink;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 20;
}

@-webkit-keyframes node-warning-blink {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

@-webkit-keyframes node-dead-blink {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.connection-dead {
    stroke: rgba(200,0,0,0.8);
    stroke-opacity: 1;
    stroke-width: 1.5;
    stroke-dasharray: 2;
    fill: transparent;
    -webkit-animation: connection-dead-sign-blink;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.connection-dead-sign {
    fill: rgba(255,0,0,0.3);
    -webkit-transform: scale(2,2);
    -webkit-animation: connection-dead-sign-blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

.connection-dead-text {
    font-size:11.5px;
    font-family: Arial;
    fill: rgba(200,0,0,0.6);
    -webkit-animation: connection-dead-sign-blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes connection-dead-sign-blink {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.connection-blocked-text {
    font-size:11px;
    font-family: Arial;
    fill: rgba(250,90,0,0.6);
}

.connection-blocked-sign {
    fill: rgba(255,90,0,0.5);
}