<html>
	<head>
		<title>IntraView</title>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap-3.1.1.min.css">
        <link rel="stylesheet" type="text/css" href="lib/angular-motion.min.css">
        <!--<link rel="stylesheet" type="text/css" href="app.css">-->
        <link rel="stylesheet" type="text/css" href="editor.css">
	</head>	
	<body 
		ng-app="app" 
		ng-controller="AppCtrl"
        ng-keydown="keyDown($event)"
        ng-keyup="keyUp($event)"
        ng-right-click
		>

		<div style="width: 100%">
		    <div>
                <div class="btn-group">
                    <button
                        ng-click="addNewNode()"
                        title="Add a new node to the chart"
                        class="btn btn-default btn-xs"
                        >
                        Add Node
                    </button>
                    <button
                        ng-click="addNewInputConnector()"
                        ng-disabled="chartViewModel.getSelectedNodes().length == 0"
                        title="Add a new input connector to the selected node"
                        class="btn btn-default btn-xs"
                        >
                        Add Input Connector
                    </button>
                    <button
                        ng-click="addNewOutputConnector()"
                        ng-disabled="chartViewModel.getSelectedNodes().length == 0"
                        title="Add a new output connector to the selected node"
                        class="btn btn-default btn-xs"
                        >
                        Add Output Connector
                    </button>
                    <button
                        ng-click="deleteSelected()"
                        ng-disabled="chartViewModel.getSelectedNodes().length == 0 && chartViewModel.getSelectedConnections().length == 0"
                        title="Delete selected nodes and connections"
                        class="btn btn-default btn-xs"
                        >
                        Delete Selected
                    </button>
                    <button
                        ng-click="print()"
                        class="btn btn-default btn-xs"
                        >
                        print
                     </button>
                </div>
				<!--
				This custom element defines the flowchart.
				-->
                <ul class="nodelist">
                    <li
                            ng-repeat="node in chartViewModel.data.nodes track by $index"
                            ng-mousedown="nodelistMouseDown($event, node)"
                            >
                        <input type="button" class="btn btn-default btn-xs nodelistbtn" value="{{node.name}}">
                    </li>
                </ul>
                <div mouse-capture>
                    <flow-chart
                        chart="chartViewModel"
                        >
                    </flow-chart>
                </div>
		    </div>
		</div>
		<!-- Library code. -->
		<script src="lib/jquery-2.1.0.min.js" type="text/javascript"></script>
		<script src="lib/angular-1.2.16.min.js" type="text/javascript"></script>
        <script src="lib/angular-animate-1.2.16.min.js" type="text/javascript"></script>
        <script src="lib/angular-strap-2.0.1.min.js" type="text/javascript"></script>
        <script src="lib/angular-strap-2.0.1.tpl.min.js" type="text/javascript"></script>
        <script src="lib/d3-3.4.6.min.js" type="text/javascript"></script>
		<!-- Flowchart code. -->
		<script src="flowchart/mouse_capture_service.js" type="text/javascript"></script>
		<script src="flowchart/drag_service.js" type="text/javascript"></script>
		<script src="flowchart/flowchart.js" type="text/javascript"></script>
        <!--Topology Related. -->
        <script src="topo_algorithm_service.js" type="text/javascript"></script>
		<!-- App code. -->
		<script src="app.js" type="text/javascript"></script>
	</body>
</html>